# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude wacky mods
*.jar
.envrc

# ???
.direnv/**
modDocs/**
techTree/**
.cache_moddocs/**
crashes/**
